<link rel="stylesheet" href="{{ url_for('static', filename='styles.css') }}">
<!--<link rel="stylesheet" href="https://www.w3schools.com/html/styles.css">
<link href="static/bootstrap.min.css" rel="stylesheet" media="screen">-->

{% extends 'layout.html' %}
{% block body %}

<title class = "passwordList"> Passwords are as follows: </title>
<table> <tr>
  <th> Website </th> <th> Username </th> <th> Password </th> <th> </th></tr>
{% for item in data %}
  <tr> <td> {{item.website}} </td> <td> {{item.username}} </td> <td> {{item.password}} </td>
    <td><form action="" method="post">
      <input class="btn btn-default" type="submit" name="button" value=Delete{{item.index}}></input>
    </form></td>
  </tr>
{% endfor %}
 <form action="" method="post">
  <input type="text" placeholder="Website" name="website" value="{{
    request.form.website }}"></input>
  <input type="text" placeholder="Username" name="username" value="{{
    request.form.username }}"></input>
   <input type="password" placeholder="Password" name="password" value="{{
    request.form.password }}"></input>
  <input class="btn btn-default" type="submit" name="button" value="Add"></input>
</form>
{% endblock %}
