{% extends 'layout.html' %}
{% block body %}
<style>

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
}

td, th {
  border: 1px solid #dddddd;
  text-align: center;
  padding: 8px;
}

tr:nth-child(even) {
  background-color: #dddddd;
}

</style>
<title class = "passwordList"> Passwords are as follows: </title>
<table> <tr>
  <th> Website </th> <th> Username </th> <th> Password </th> </tr>
{% for item in data %}
  <tr> <td> {{item.website}} </td> <td> {{item.username}} </td> <td> {{item.password}} </td> </tr>
{% endfor %}
 <form action="" method="post">
  <input type="text" placeholder="Website" name="website" value="{{
    request.form.website }}">
  <input type="text" placeholder="Username" name="username" value="{{
    request.form.username }}">
   <input type="password" placeholder="Password" name="password" value="{{
    request.form.password }}">
  <input class="btn btn-default" type="submit" name="button" value="Add">
</form>
{% endblock %}
