
body {
  background-color: powerderblue;
  align-content: center;
  text-align: center;
}

table {
  font-family: arial, sans-serif;
  border-collapse: collapse;
  width: 75%;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  border: 12px solid #black;
}

td {
  /*border: 12px solid #black;*/
  padding: 18px;
}

th {
  /*border: 12px solid #black;*/
  background-color: black;
  color: white;
}

tr:nth-child(even) {
  background-color: lightgray;
}
